/*
 * Start Bootstrap - Full Width Pics (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  font-family: 'Lora', serif;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

nav,
.navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size:32px;
}

.image-bg-fluid-height {
  background-position: center;
  width:100%;
}

.image-bg-fluid-height img {
  width:100%;
}

.image-bg-fixed-height {
	background-position: center;
  width:100%;
  height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding:25px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 10px 0;
}

#footer-menu {
  display:block;
  margin:0 auto;
  text-align: center;
}

#footer-menu a {
  color: #000;
  margin: 0 5px;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

#img-logo {
  display: block;
  padding:25px 50px 50px;
  width:280px;
  /*background-color: #000;*/
  position:absolute;
  top:0;
  left:0;
  z-index: 1;

}

@media(max-width:768px) {
  #img-logo {
    padding:25px;
    width:140px;
  }

}

#main-menu a {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  margin-bottom: 1px;
  text-transform: uppercase;
}

#main-menu a:hover {
  color: #000;
  background-color: #fff;
}

#site-title {
  color: #fff;
  background-color: #000;
  padding:15px;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.5em;
  font-family: 'Amatic SC', cursive;
  font-size: 56px;
  position:absolute;
  top:0;
  right:0;
  z-index: 1;
}

@media(max-width:768px) {
  #site-title {
    font-size:42px;
  }
}

@media(max-width:480px) {
  #site-title {
    font-size:23px;
  }
}

#posts {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#posts img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.white-panel h4 {
  font-size: 1em;
}
.white-panel h4 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

iframe {
  width: 100%;
  height:540px;
}

@media(max-width:480px) {
  iframe {
    height:320px;
  }
}

.mapa {
  width:100%;
}

a.mapas {
  display:block;
   margin-top:50px;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.panel-collapse h5 {
  font-size: 1.3em;
  width:33%;
  float:left;
}

@media(max-width:1024px) {
  .panel-collapse h5 {
    width:50%;
  }
}

@media(max-width:480px) {
  .panel-collapse h5 {
    width:100%;
  }
}

.panel-collapse h5 .green {
  color:#196c4b;
}

.panel-collapse h5 .blue {
  color:#204d74;
}

.social-media {
  margin: 0 auto;
  text-align: center;
  width:260px;
}

.social-icon {
  display:block;
  width:64px;
  height:64px;
  float:left;
  text-indent: -999px;
  overflow: hidden;
  margin:20px 10px;
}

.social-media .facebook {
  background-image: url('images/facebook_icon.png');
}

.social-media .twitter {
  background-image: url('images/twitter_icon.png');
}

.social-media .youtube {
  background-image: url('images/youtube_icon.png');
}

.infog-img {
  margin-top:50px;
}

.infog-img img{
  width:100%;
}

@media(min-width:1024px) {
  .infog-img img {
    width:80%;
  }
}

.slider {
  width: 90%;
  margin: 0 auto;
}

.slick-slide {
  margin: 0px 20px;

}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slider-title {
  color: #A92733;
}
